* {
  box-sizing: border-box;
  margin: 0;
}
@keyframes cloudAnimation {
  from {
    width: 20vw;
    height: 20vh;
    left: 1vw;
  }
  to {
    width: 25vw;
    left: 60vw;
  }
}

@keyframes planeMoveEasy {
  0% {
    right: 0;
    transform: scale(0.4);
    opacity: 0;
    top: 5vh;
    cursor: pointer;
  }
  50% {
    top: 20vh;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    right: 100%;
    opacity: 1;

    top: 30vh;
    cursor: none;
    display: none;
    transform: scale(0.00001);
  }
}
@keyframes planeMoveMedium {
  0% {
    right: 0;
    transform: scale(0.2);
    opacity: 0;
    top: 5vh;
    cursor: pointer;
  }
  25% {
    top: 20vh;
  }
  50% {
    top: 2vh;
  }
  75% {
    opacity: 0.9;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    right: 100%;
    cursor: none;
    display: none;
    transform: scale(0.00001);
  }
}
@keyframes planeMoveHard {
  0% {
    right: 0;
    transform: scale(0.05);
    opacity: 0;
    top: 5vh;
    cursor: pointer;
  }
  25% {
    top: 30vh;
  }
  50% {
    top: 0vh;
  }
  75% {
    opacity: 0.6;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    right: 100%;
    cursor: none;
    display: none;
    transform: scale(0.00001);
  }
}
@keyframes planeMoveExpert {
  0% {
    right: 0;
    transform: scale(0.01);
    opacity: 0.2;
    top: 0vh;
    cursor: pointer;
  }
  25% {
    top: 40vh;
    opacity: 0.3;
  }
  50% {
    top: 20vh;
    opacity: 0;
  }
  75% {
    opacity: 0.3;
  }
  80% {
    transform: scale(0.9);
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    right: 100%;
    cursor: none;
    display: none;
    transform: scale(0.00001);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Kanit", sans-serif;
  background-image: url(img/tlo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.start__panel,
.game,
.next__panel {
  width: 100vw;
  height: 100vh;
}
.start__panel header {
  width: 100%;
  height: 60vh;
}
.cloud__area {
  display: flex;
  justify-content: space-around;
}
.cloud {
  width: 10vw;
  height: 10vh;
}

.cloud1 {
  width: 20vw;
  height: 20vh;
  left: 1vw;
  position: absolute;
  animation: cloudAnimation 10s ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.cloud2 {
  width: 5vw;
  height: 5vh;
  align-self: center;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__panel {
  width: 40vw;
  height: 80vh;
  background-color: rgba(30, 255, 0, 0.39);
  border: 10px solid white;
  border-radius: 9.9%;
  position: absolute;
  bottom: 10vh;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info__panel h1 {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
.info__panel .rules,
.authors {
  border: 5px solid rgba(48, 87, 212, 0.644);
  background-color: rgba(33, 33, 180, 0.178);
  width: 80%;
  height: 55%;
  padding: 10px;
  border-radius: 5%;
  text-align: center;
}
.info__panel .button__start,
.button__next,
.showRules,
.showAuthors {
  background-color: rgb(0, 255, 242);
  border: 5px solid rgb(47, 100, 179);
  border-radius: 5%;
  align-self: flex-end;
  margin-bottom: 10px;
  width: 50%;
  height: 50px;
  cursor: pointer;
}
.showRules,
.showAuthors {
  align-self: flex-start;
  width: 40%;
  margin: 5%;
}

footer {
  width: 100%;
  height: 40vh;
}

.tree {
  width: 20vw;
  height: 40vh;
  position: absolute;
  bottom: 20vh;
}
.tree1 {
  width: 30vw;
  height: 60vh;
  position: absolute;
  bottom: 0vh;
  right: 2vw;
}
.tree2 {
  width: 30vw;
  height: 50vh;
  position: absolute;
  bottom: 10vh;
  left: 20vw;
}
.game .tree2 {
  width: 30vw;
  height: 50vh;
  position: absolute;
  bottom: 10vh;
  left: 25vw;
}

.hidden {
  display: none;
}
.tank {
  width: 34vw;
  height: 27vh;
  position: absolute;
  transform: rotate(330deg);
  bottom: 18vh;
}
.plane1 {
  width: 20vw;
  height: 20vh;
  position: absolute;
  cursor: none;
  right: 0;
  opacity: 0;
}
.score {
  width: 10vw;
  height: 13vh;
  margin-top: -66px;
  margin-left: auto;
  margin-right: auto;
  border: 5px white solid;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10%;
  background-color: rgb(43, 127, 175);
  color: white;
}
.active {
  transform: scale(1.0001);
}
.animationEasy {
  animation: planeMoveEasy 8s ease-in-out;
  animation-fill-mode: forwards;
}
.animationMedium {
  animation: planeMoveMedium 4s ease-in-out;
  animation-fill-mode: forwards;
}
.animationHard {
  animation: planeMoveHard 2s ease-in-out;
  animation-fill-mode: forwards;
}
.animationExpert {
  animation: planeMoveExpert 0.8s ease-in-out;
  animation-fill-mode: forwards;
}
button {
  font-family: "Press Start 2P", cursive;
}
.opacity {
  opacity: 0;
}
.tankMedium {
  bottom: 16vh;
  width: 25vw;
  transform: rotate3d(-266, 979, 92, 219deg);
}
.footerHard {
  display: flex;
  justify-content: center;
}
.tankHard {
  transform: rotate3d(-266, 979, 92, 219deg);
  width: 30vw;
  height: 27vh;
  bottom: 15vh;
}
a {
  text-decoration: none;
  color: black;
}

/* Mobile */
@media screen and (max-width: 500px) and (orientation: portrait) {
  .info__panel {
    width: 80vw;
  }
  .info__panel h1 {
    font-size: 20px;
  }
  .info__panel .rules,
  .authors {
    font-size: 14px;
    width: 90%;
    height: 50%;
  }
  .tree2 {
    display: none;
  }
  .score {
    width: 30vw;
  }
  .tree {
    width: 33vw;
    left: 45vw;
  }
  .showRules,
  .showAuthors {
    margin: 1%;
  }
}
/* Mobile landscape */
@media only screen and (max-width: 900px) and (orientation: landscape) {
  .info__panel {
    width: 95vw;
    height: 78vh;
    bottom: 5vh;
  }
  .info__panel .rules,
  .authors {
    width: 97%;
    height: 33%;
    font-size: 11px;

    padding: 0;
  }
  .score {
    width: 20vw;
    height: 18vh;
    margin-top: -38px;
    padding: 0;
    font-size: 1rem;
  }
  .tank {
    top: 60vh;
  }
  .tankMedium {
    top: 52vh;
    height: 34vh;
    bottom: 48vh;
  }
  .tankHard {
    top: 70vh;
    height: 32vh;
  }
  .tree {
    top: 60vh;
    bottom: 40vh;
  }
  .tree2 {
    bottom: 0vh;
    opacity: 0;
  }
  .showRules,
  .showAuthors {
    margin: 1%;
  }
}
